*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* color: white; */
}
.box{
    background-color: black;
}
.title{
    text-align: center;
    padding: 2%;
    font-size: xxx-large;
    font-weight: bolder;
    color: white;
}
.loading{
    text-align: center;
    color: white;
}